{
	"ClientID":  "12345678-1234-1234-1234-12345678abcd",
	"Account":  "access-account@mydomain.com",
	"Mailbox":  "dmarc@mydomain.com",
	"Output":  "SQL",
	"SqlUsername":  "mysqluser",
	"SqlPass":  "mysqlpass",
	"SqlDb":  "mysqldatabase",
	"SqlHostname":  "mysqlserver.database.windows.net"
}

